{% extends "base.html" %}

{% block title %}
<title>Schedule | SPNIntra</title>
{% endblock %}

{% block org_head %}
{% include "sub_schedule_head.html" %}
{% endblock %}

{% block contents_title %}
{% load static %}
<span class="ml-3 my-0 mr-0 text-dark">
    <a class="btn btn-primary btn-sm" href="{% url 'schedule:schedule_regist' %}" role="button">
        <i class="fas fa-calendar-plus"></i>&nbsp;予定を登録する
    </a>
</span>
{% endblock %}

{% block pan_list %}
<li class="breadcrumb-item"><a href="{% url 'overview:overview_index' %}">Home</a></li>
<li class="breadcrumb-item active">個人年表示</li>
{% endblock %}

{% block contents_accordion %}
{% endblock %}

{% block content_main %}
{% load static %}
<div id="schedule" class="col-lg-12">
    <ul class="nav nav-tabs font-small">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'schedule:schedule_gday' %}">グループ日</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'schedule:schedule_index' %}">グループ週</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'schedule:schedule_pday' %}">個人日</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'schedule:schedule_pweek' %}">個人週</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'schedule:schedule_pmonth' %}">個人月</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">個人年</a>
        </li>
    </ul>
    <div class="card font-middle">
        <div class="card-body">
            <table class="schedule_title">
                <tr>
                    <td class="group">
                        <span class="">Alexander Pierce&nbsp;&nbsp;さんの予定</span>
                    </td>
                    <td class="text-day">
                        <span class="font-large">2021 年</span>
                    </td>
                    <td class="link-button">
                        <a class="btn btn-primary btn-sm" href="#" role="button">
                            <span><i class="fas fa-caret-left"></i>&nbsp;前年</span>
                        </a>
                        <a class="btn btn-primary btn-sm" href="#" role="button">
                            <span>本年</span>
                        </a>
                        <a class="btn btn-primary btn-sm" href="#" role="button">
                            <span>翌年&nbsp;<i class="fas fa-caret-right"></i></span>
                        </a>
                    </td>
                </tr>
            </table>
            <p></p>
            <table class="pyear-table">
                <tr valign=top>
                    <td class="pyear-month-table-wap">
                        <table>
                            <colgroup span="1" class="pyear-day"></colgroup>
	                        <colgroup span="1" class="pyear-day-ditail"></colgroup>
                            <thead>
                            <tr>
                                <th colspan="2" >1 月</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="pyear-day cl-dark-holiday">
                                    <a href="{% url 'schedule:schedule_pday' %}">1</a>
                                </td>
                                <td class="pyear-day-ditail cl-dark-holiday"><font size=-1>元日</font></td>
                            </tr>
                            <tr>
                                <td class="pyear-day cl-dark-saturday">
                                    <a href="{% url 'schedule:schedule_pday' %}">1</a>
                                </td>
                                <td class="pyear-day-ditail cl-dark-saturday"><font size=-1></font></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="pyear-month-table-wap">
                        <table>
                            <colgroup span="1" class="pyear-day"></colgroup>
	                        <colgroup span="1" class="pyear-day-ditail"></colgroup>
                            <thead>
                            <tr>
                                <th colspan="2" >1 月</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="pyear-day cl-dark-holiday">
                                    <a href="{% url 'schedule:schedule_pday' %}">1</a>
                                </td>
                                <td class="pyear-day-ditail cl-dark-holiday"><font size=-1>元日</font></td>
                            </tr>
                            <tr>
                                <td class="pyear-day cl-dark-saturday">
                                    <a href="{% url 'schedule:schedule_pday' %}">1</a>
                                </td>
                                <td class="pyear-day-ditail cl-dark-saturday"><font size=-1></font></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="pyear-month-table-wap">
                        <table>
                            <colgroup span="1" class="pyear-day"></colgroup>
	                        <colgroup span="1" class="pyear-day-ditail"></colgroup>
                            <thead>
                            <tr>
                                <th colspan="2" >1 月</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="pyear-day cl-dark-holiday">
                                    <a href="{% url 'schedule:schedule_pday' %}">1</a>
                                </td>
                                <td class="pyear-day-ditail cl-dark-holiday"><font size=-1>元日</font></td>
                            </tr>
                            <tr>
                                <td class="pyear-day cl-dark-saturday">
                                    <a href="{% url 'schedule:schedule_pday' %}">1</a>
                                </td>
                                <td class="pyear-day-ditail cl-dark-saturday"><font size=-1></font></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="pyear-month-table-wap">
                        <table>
                            <colgroup span="1" class="pyear-day"></colgroup>
	                        <colgroup span="1" class="pyear-day-ditail"></colgroup>
                            <thead>
                            <tr>
                                <th colspan="2" >1 月</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="pyear-day cl-dark-holiday">
                                    <a href="{% url 'schedule:schedule_pday' %}">1</a>
                                </td>
                                <td class="pyear-day-ditail cl-dark-holiday"><font size=-1>元日</font></td>
                            </tr>
                            <tr>
                                <td class="pyear-day cl-dark-saturday">
                                    <a href="{% url 'schedule:schedule_pday' %}">1</a>
                                </td>
                                <td class="pyear-day-ditail cl-dark-saturday"><font size=-1></font></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="pyear-month-table-wap">
                        <table>
                            <colgroup span="1" class="pyear-day"></colgroup>
	                        <colgroup span="1" class="pyear-day-ditail"></colgroup>
                            <thead>
                            <tr>
                                <th colspan="2" >1 月</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="pyear-day cl-dark-holiday">
                                    <a href="{% url 'schedule:schedule_pday' %}">1</a>
                                </td>
                                <td class="pyear-day-ditail cl-dark-holiday"><font size=-1>元日</font></td>
                            </tr>
                            <tr>
                                <td class="pyear-day cl-dark-saturday">
                                    <a href="{% url 'schedule:schedule_pday' %}">1</a>
                                </td>
                                <td class="pyear-day-ditail cl-dark-saturday"><font size=-1></font></td>
                            </tr>
                            <tr>
                                <td class="pyear-day cl-dark-weekday">
                                    <a href="{% url 'schedule:schedule_pday' %}">1</a>
                                </td>
                                <td class="pyear-day-ditail"><font size=-1></font></td>
                            </tr>
                            <tr>
                                <td class="pyear-day cl-dark-weekday">
                                    <a href="{% url 'schedule:schedule_pday' %}">1</a>
                                </td>
                                <td class="pyear-day-ditail"><font size=-1></font></td>
                            </tr>
                            <tr>
                                <td class="pyear-day cl-dark-weekday">
                                    <a href="{% url 'schedule:schedule_pday' %}">1</a>
                                </td>
                                <td class="pyear-day-ditail"><font size=-1></font></td>
                            </tr>
                            <tr>
                                <td class="pyear-day cl-dark-weekday">
                                    <a href="{% url 'schedule:schedule_pday' %}">1</a>
                                </td>
                                <td class="pyear-day-ditail"><font size=-1></font></td>
                            </tr>
                            <tr>
                                <td class="pyear-day cl-dark-weekday">
                                    <a href="{% url 'schedule:schedule_pday' %}">1</a>
                                </td>
                                <td class="pyear-day-ditail"><font size=-1></font></td>
                            </tr>
                            <tr>
                                <td class="pyear-day cl-dark-weekday">
                                    <a href="{% url 'schedule:schedule_pday' %}">1</a>
                                </td>
                                <td class="pyear-day-ditail"><font size=-1></font></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="pyear-month-table-wap">
                        <table>
                            <colgroup span="1" class="pyear-day"></colgroup>
	                        <colgroup span="1" class="pyear-day-ditail"></colgroup>
                            <thead>
                            <tr>
                                <th colspan="2" >1 月</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="pyear-day cl-dark-holiday">
                                    <a href="{% url 'schedule:schedule_pday' %}">1</a>
                                </td>
                                <td class="pyear-day-ditail cl-dark-holiday"><font size=-1>元日</font></td>
                            </tr>
                            <tr>
                                <td class="pyear-day cl-dark-saturday">
                                    <a href="{% url 'schedule:schedule_pday' %}">1</a>
                                </td>
                                <td class="pyear-day-ditail cl-dark-saturday"><font size=-1></font></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr valign=top>
                    <td class="pyear-month-table-wap">
                        <table>
                            <colgroup span="1" class="pyear-day"></colgroup>
	                        <colgroup span="1" class="pyear-day-ditail"></colgroup>
                            <thead>
                            <tr>
                                <th colspan="2" >1 月</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="pyear-day cl-dark-holiday">
                                    <a href="{% url 'schedule:schedule_pday' %}">1</a>
                                </td>
                                <td class="pyear-day-ditail cl-dark-holiday"><font size=-1>元日</font></td>
                            </tr>
                            <tr>
                                <td class="pyear-day cl-dark-saturday">
                                    <a href="{% url 'schedule:schedule_pday' %}">1</a>
                                </td>
                                <td class="pyear-day-ditail cl-dark-saturday"><font size=-1></font></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="pyear-month-table-wap">
                        <table>
                            <colgroup span="1" class="pyear-day"></colgroup>
	                        <colgroup span="1" class="pyear-day-ditail"></colgroup>
                            <thead>
                            <tr>
                                <th colspan="2" >1 月</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="pyear-day cl-dark-holiday">
                                    <a href="{% url 'schedule:schedule_pday' %}">1</a>
                                </td>
                                <td class="pyear-day-ditail cl-dark-holiday"><font size=-1>元日</font></td>
                            </tr>
                            <tr>
                                <td class="pyear-day cl-dark-saturday">
                                    <a href="{% url 'schedule:schedule_pday' %}">1</a>
                                </td>
                                <td class="pyear-day-ditail cl-dark-saturday"><font size=-1></font></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="pyear-month-table-wap">
                        <table>
                            <colgroup span="1" class="pyear-day"></colgroup>
	                        <colgroup span="1" class="pyear-day-ditail"></colgroup>
                            <thead>
                            <tr>
                                <th colspan="2" >1 月</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="pyear-day cl-dark-holiday">
                                    <a href="{% url 'schedule:schedule_pday' %}">1</a>
                                </td>
                                <td class="pyear-day-ditail cl-dark-holiday"><font size=-1>元日</font></td>
                            </tr>
                            <tr>
                                <td class="pyear-day cl-dark-saturday">
                                    <a href="{% url 'schedule:schedule_pday' %}">1</a>
                                </td>
                                <td class="pyear-day-ditail cl-dark-saturday"><font size=-1></font></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="pyear-month-table-wap">
                        <table>
                            <colgroup span="1" class="pyear-day"></colgroup>
	                        <colgroup span="1" class="pyear-day-ditail"></colgroup>
                            <thead>
                            <tr>
                                <th colspan="2" >1 月</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="pyear-day cl-dark-holiday">
                                    <a href="{% url 'schedule:schedule_pday' %}">1</a>
                                </td>
                                <td class="pyear-day-ditail cl-dark-holiday"><font size=-1>元日</font></td>
                            </tr>
                            <tr>
                                <td class="pyear-day cl-dark-saturday">
                                    <a href="{% url 'schedule:schedule_pday' %}">1</a>
                                </td>
                                <td class="pyear-day-ditail cl-dark-saturday"><font size=-1></font></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="pyear-month-table-wap">
                        <table>
                            <colgroup span="1" class="pyear-day"></colgroup>
	                        <colgroup span="1" class="pyear-day-ditail"></colgroup>
                            <thead>
                            <tr>
                                <th colspan="2" >1 月</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="pyear-day cl-dark-holiday">
                                    <a href="{% url 'schedule:schedule_pday' %}">1</a>
                                </td>
                                <td class="pyear-day-ditail cl-dark-holiday"><font size=-1>元日</font></td>
                            </tr>
                            <tr>
                                <td class="pyear-day cl-dark-saturday">
                                    <a href="{% url 'schedule:schedule_pday' %}">1</a>
                                </td>
                                <td class="pyear-day-ditail cl-dark-saturday"><font size=-1></font></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="pyear-month-table-wap">
                        <table>
                            <colgroup span="1" class="pyear-day"></colgroup>
	                        <colgroup span="1" class="pyear-day-ditail"></colgroup>
                            <thead>
                            <tr>
                                <th colspan="2" >1 月</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="pyear-day cl-dark-holiday">
                                    <a href="{% url 'schedule:schedule_pday' %}">1</a>
                                </td>
                                <td class="pyear-day-ditail cl-dark-holiday"><font size=-1>元日</font></td>
                            </tr>
                            <tr>
                                <td class="pyear-day cl-dark-saturday">
                                    <a href="{% url 'schedule:schedule_pday' %}">1</a>
                                </td>
                                <td class="pyear-day-ditail cl-dark-saturday"><font size=-1></font></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}
