{% extends "base.html" %}

{% block title %}
<title>Schedule | SPNIntra</title>
{% endblock %}

{% block org_head %}
{% load static %}
{% include "sub_schedule_head.html" %}
<!-- jQuery -->
<script src="{%static 'plugins/jquery/jquery.js '%}"></script>
<!-- Org JavaScript -->
<script src="{%static 'org/js/schedule_form.js' %}"></script>
{% endblock %}

{% block contents_title %}
<div class="accordion-menu">
    <span class="ml-3 my-0 mr-0 text-dark">
        <span class="font-large">{{view.get_day_i}} &nbsp;&nbsp;</span>
    </span>
    <label for="Panel1">
        {% if view.get_url_schty == 'spn' %}
        <i class="fas fad fa-angle-double-down"></i>&nbsp;この週の予定を表示する
        {% else %}
        <i class="fas fad fa-angle-double-down"></i>&nbsp;この日の予定を表示する
        {% endif %}
    </label>
</div>
{% endblock %}

{% block contents_accordion %}
{% if view.get_url_schty == 'spn' %}
{% include "sub_accordion_week.html" %}
{% else %}
{% include "sub_accordion_day.html" %}
{% endif %}
{% endblock %}

{% block pan_list %}
<li class="breadcrumb-item"><a href="{% url 'overview:overview_index' %}">Home</a></li>
{% if view.get_pan_i.disp != '' %}
<li class="breadcrumb-item">
    <a href="{{view.get_pan_i.link_url}}">{{view.get_pan_i.disp}}</a>
</li>
{% endif %}
<li class="breadcrumb-item active">予定の登録</li>
{% endblock %}

{% block content_main %}
{% load static %}
<div id="schedule" class="col-lg-12">
    <ul class="nav nav-tabs font-small">
        <li class="nav-item">
            {% if view.get_url_schty == 'nml' %}
            <a class="nav-link active" aria-current="page" href="#">通常予定</a>
            {% else %}
            <a class="nav-link" href="{% url 'schedule:schedule_regist' %}{{view.get_linkurl_outof_schtype}}nml">通常予定</a>
            {% endif %}
        </li>
        <li class="nav-item">
            {% if view.get_url_schty == 'cte' %}
            <a class="nav-link active" aria-current="page" href="#">翌日以降まで続く予定</a>
            {% else %}
            <a class="nav-link" href="{% url 'schedule:schedule_regist' %}{{view.get_linkurl_outof_schtype}}cte">翌日以降まで続く予定</a>
            {% endif %}
        </li>
        <li class="nav-item">
            {% if view.get_url_schty == 'spn' %}
            <a class="nav-link active" aria-current="page" href="#">期間予定</a>
            {% else %}
            <a class="nav-link" href="{% url 'schedule:schedule_regist' %}{{view.get_linkurl_outof_schtype}}spn">期間予定</a>
            {% endif %}
        </li>
        <li class="nav-item">
            {% if view.get_url_schty == 'rep' %}
            <a class="nav-link active" aria-current="page" href="#">繰り返し予定</a>
            {% else %}
            <a class="nav-link" href="{% url 'schedule:schedule_regist' %}{{view.get_linkurl_outof_schtype}}rep">繰り返し予定</a>
            {% endif %}
        </li>
    </ul>
    <div class="card card-info font-middle">
        <h5 class="card-header">
            予定の登録
        </h5>
        <form action="{% url 'schedule:schedule_regist' %}{{view.get_regist_param}}" method="post" novalidate>
        {% csrf_token %}
        <div class="card-body">
            <table class="regist_table">
                {% if view.get_url_schty == 'nml' %}
                <tr>
                    <th class="regist_title" valign="middle">日付</th>
                    <td>
                        {{ form.f_s_year }}
                        <span>&nbsp;&nbsp;</span>
                        {{ form.f_s_month }}
                        <span>&nbsp;&nbsp;</span>
                        {{ form.f_s_day }}
                        <span>&nbsp;&nbsp;</span>
                        <a href="{% url 'schedule:schedule_regist' %}" role="button">
                            <i class="fas fa-calendar-alt"></i>
                        </a>
                        <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span><span>複数の日付を指定する</span>
                    </td>
                </tr>
                <tr>
                    <th class="regist_title" valign="middle">時刻</th>
                    <td nowrap>
                        {{ form.f_s_hour }}
                        <span>&nbsp;&nbsp;</span>
                        {{ form.f_s_minutes }}
                        <span>&nbsp;&nbsp;～&nbsp;&nbsp;</span>
                        {{ form.f_e_hour }}
                        <span>&nbsp;&nbsp;</span>
                        {{ form.f_e_minutes }}
                    </td>
                </tr>
                {% elif view.get_url_schty == 'cte' %}
                    <th class="regist_title" valign="middle">開始日時</th>
                    <td>
                        {{ form.f_s_year }}
                        <span>&nbsp;&nbsp;</span>
                        {{ form.f_s_month }}
                        <span>&nbsp;&nbsp;</span>
                        {{ form.f_s_day }}
                        <span>&nbsp;&nbsp;</span>
                        </select>
                        <a href="{% url 'schedule:schedule_regist' %}" role="button">
                            <i class="fas fa-calendar-alt"></i>
                        </a>
                        <span>&nbsp;&nbsp;</span>
                        {{ form.f_s_hour }}
                        <span>&nbsp;&nbsp;</span>
                        {{ form.f_s_minutes }}
                        <span>&nbsp;&nbsp;～&nbsp;&nbsp;</span>
                    </td>
                </tr>
                <tr>
                    <th class="regist_title" valign="middle">終了日時</th>
                    <td>
                        {{ form.f_e_year }}
                        <span>&nbsp;&nbsp;</span>
                        {{ form.f_e_month }}
                        <span>&nbsp;&nbsp;</span>
                        {{ form.f_e_day }}
                        <span>&nbsp;&nbsp;</span>
                        <a href="{% url 'schedule:schedule_regist' %}" role="button">
                            <i class="fas fa-calendar-alt"></i>
                        </a>
                        <span>&nbsp;&nbsp;</span>
                        {{ form.f_e_hour }}
                        <span>&nbsp;&nbsp;</span>
                        {{ form.f_e_minutes }}
                    </td>
                </tr>
                {% elif view.get_url_schty == 'spn' %}
                <tr>
                    <th class="regist_title" valign="middle">日付</th>
                    <td>
                        {{ form.f_s_year }}
                        <span>&nbsp;&nbsp;</span>
                        {{ form.f_s_month }}
                        <span>&nbsp;&nbsp;</span>
                        {{ form.f_s_day }}
                        <span>&nbsp;&nbsp;</span>
                        <a href="{% url 'schedule:schedule_regist' %}" role="button">
                            <i class="fas fa-calendar-alt"></i>
                        </a>
                        <span>&nbsp;&nbsp;～&nbsp;&nbsp;</span>
                        {{ form.f_e_year }}
                        <span>&nbsp;&nbsp;</span>
                        {{ form.f_e_month }}
                        <span>&nbsp;&nbsp;</span>
                        {{ form.f_e_day }}
                        <span>&nbsp;&nbsp;</span>
                        <a href="{% url 'schedule:schedule_regist' %}" role="button">
                            <i class="fas fa-calendar-alt"></i>
                        </a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <th class="regist_title" valign="top">日付</th>
                    <td>
                        <div class="smallcorner">&lt;繰り返し条件&gt;</div>
                        <div class="radio-wap">
                            <input id="everyday" type="radio" name="Type" value="day"  >
                            <label for="everyday" onMouseOver='this.style.color="#ff0000"' onMouseOut='this.style.color=""'>毎日</label>
                        </div>
                        <div class="radio-wap">
                            <input id="everyweekday" type="radio" name="Type" value="weekday"  >
                            <label for="everyweekday" onMouseOver='this.style.color="#ff0000"' onMouseOut='this.style.color=""'>毎日（土日を除く）</label>
                        </div>
                        <div class="radio-wap">
                            <input type="radio" id="week" name="Type" value="week" checked>
                            <label for="week"></label>
                            <select name="Week">
                                <option value="week" selected>毎週</option>
                                <option value="1stweek" >毎月 第1</option>
                                <option value="2ndweek" >毎月 第2</option>
                                <option value="3rdweek" >毎月 第3</option>
                                <option value="4thweek" >毎月 第4</option>
                                <option value="lastweek" >毎月 最終</option>
                            </select>
                            <select name="WDay">
                                <option value="0" >日曜日</option>
                                <option value="1" >月曜日</option>
                                <option value="2" >火曜日</option>
                                <option value="3" >水曜日</option>
                                <option value="4" >木曜日</option>
                                <option value="5" >金曜日</option>
                                <option value="6" selected>土曜日</option>
                            </select>
                        </div>
                        <div class="radio-wap">
                            <input id="month" type="radio" name="Type" value="month"  >
                            <label for="month" onMouseOver='this.style.color="#ff0000"' onMouseOut='this.style.color=""'>毎月</label>
                            <select name=Day >
                                <option value=1>1日</option>
                                <option value=2>2日</option>
                                <option value=3>3日</option>
                                <option value=4>4日</option>
                                <option value=5>5日</option>
                                <option value=6>6日</option>
                                <option value=7>7日</option>
                                <option value=8>8日</option>
                                <option value=9>9日</option>
                                <option value=10>10日</option>
                                <option value=11>11日</option>
                                <option value=12>12日</option>
                                <option value=13>13日</option>
                                <option value=14 selected>14日</option>
                                <option value=15>15日</option>
                                <option value=16>16日</option>
                                <option value=17>17日</option>
                                <option value=18>18日</option>
                                <option value=19>19日</option>
                                <option value=20>20日</option>
                                <option value=21>21日</option>
                                <option value=22>22日</option>
                                <option value=23>23日</option>
                                <option value=24>24日</option>
                                <option value=25>25日</option>
                                <option value=26>26日</option>
                                <option value=27>27日</option>
                                <option value=28>28日</option>
                                <option value=29>29日</option>
                                <option value=30>30日</option>
                                <option value=31>31日</option>
                                <option value="0" >月末</option>
                            </select>
                        </div>
                        <br>
                        <div class="smallcorner">&lt;期限&gt;</div>
                        <div class="radio-wap">
                            <input id="nolimit" type="radio" name="Limit" value="0" checked >
                            <label for="nolimit" onMouseOver='this.style.color="#ff0000"' onMouseOut='this.style.color=""'>期限なし</label>
                        </div>
                        <div class="radio-wap">
                            <input id="nolimit" type="radio" name="Limit" value="0" >
                            {{ form.f_s_year }}
                            <span>&nbsp;&nbsp;</span>
                            {{ form.f_s_month }}
                            <span>&nbsp;&nbsp;</span>
                            {{ form.f_s_day }}
                            <span>&nbsp;&nbsp;</span>
                            <a href="{% url 'schedule:schedule_regist' %}" role="button">
                                <i class="fas fa-calendar-alt"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="regist_title" valign="middle">時刻</th>
                    <td nowrap>
                        {{ form.f_s_hour }}
                        <span>&nbsp;&nbsp;</span>
                        {{ form.f_s_minutes }}
                        <span>&nbsp;&nbsp;～&nbsp;&nbsp;</span>
                        {{ form.f_e_hour }}
                        <span>&nbsp;&nbsp;</span>
                        {{ form.f_e_minutes }}
                    </td>
                </tr>
                {% endif %}
                <tr>
                     <th class="regist_title" valign="middle">会社情報</th>
                     <td valign="middle">
                         <span class="regist-company-info">&nbsp;</span>
                         <span>&nbsp;&nbsp;</span>
                         <input class="btn btn-info btn-sm" type="submit" name="AddressSearch" value="← アドレス帳から取り込む" onClick="PreSubmitCGID( this.form );PreSubmitFGID( this.form );">
                     </td>
                </tr>
                <tr>
                    <th class="regist_title" valign="middle">予定</th>
                    <td nowrap>
                        {{ form.f_tag }}
                        {{ form.f_title }}
                    </td>
                </tr>
                <tr valign="top">
                    <th class="regist_title" valign="top">メモ</th>
                    <td>
                        {{ form.f_memo }}
                    </td>
                </tr>
                <tr>
                    <th class="regist_title" valign="top">参加者</th>
                    <td>
                        <table class="presentation">
                            <tr>
                                <td class="vr_order" valign="center">
                                    <p>
                                        <a class="btn btn-info btn-sm" href="#" role="button">
                                            <span><i class="fas fa-angle-double-up"></i></span>
                                        </a>
                                    </p>
                                    <p>
                                        <a class="btn btn-info btn-sm" href="#" role="button">
                                            <span><i class="fas fa-angle-up"></i></span>
                                        </a>
                                    </p>
                                    <p>
                                        <a class="btn btn-info btn-sm" href="#" role="button">
                                            <span><i class="fas fa-angle-down"></i></span>
                                        </a>
                                    </p>
                                    <p>
                                        <a class="btn btn-info btn-sm" href="#" role="button">
                                            <span><i class="fas fa-angle-double-down"></i></span>
                                        </a>
                                    </p>
                                </td>
                                <td valign="bottom">
                                    {{ form.f_member_l }}
                                </td>
                                <td>
                                    <p class="vr_verticalButton">
                                        <input class="btn btn-info btn-sm" type="button" id="member_add" value="← 追加">
                                    </p>
                                    <p class="vr_verticalButton">
                                        <input class="btn btn-info btn-sm" type="button" id="member_del" value="削除 →">
                                    </p>
                                </td>
                                <td>
                                    <input class="regist_select"  type="text" id="AddressSearchText" title="ユーザー検索" value="" size="20" maxlength="100">
                                    <span>&nbsp;&nbsp;</span>
                                    <input class="btn btn-info btn-sm" type="button" id="AddressSearch" value="ユーザー検索">
                                    <br>
                                    <br>
                                    {{ form.f_member_gr }}
                                    <br>
                                    <br>
                                    {{ form.f_member_r }}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <th class="regist_title" valign="top">施設</th>
                    <td>
                        <table class="presentation">
                            <tr>
                                <td class="vr_order" valign="center">
                                    <p>
                                        <a class="btn btn-info btn-sm" href="#" role="button">
                                        <span><i class="fas fa-angle-double-up"></i></span>
                                    </a>
                                    </p>
                                    <p>
                                        <a class="btn btn-info btn-sm" href="#" role="button">
                                        <span><i class="fas fa-angle-up"></i></span>
                                    </a>
                                    </p>
                                    <p>
                                        <a class="btn btn-info btn-sm" href="#" role="button">
                                        <span><i class="fas fa-angle-down"></i></span>
                                    </a>
                                    </p>
                                    <p>
                                        <a class="btn btn-info btn-sm" href="#" role="button">
                                        <span><i class="fas fa-angle-double-down"></i></span>
                                    </a>
                                    </p>
                                </td>
                                <td valign="bottom">
                                    {{ form.f_setu_l }}
                                </td>
                                <td>
                                    <p class="vr_verticalButton">
                                        <input class="btn btn-info btn-sm" type="button" id="setu_add" value="← 追加">
                                    </p>
                                    <p class="vr_verticalButton">
                                        <input class="btn btn-info btn-sm" type="button" id="setu_del" value="削除 →">
                                    </p>
                                </td>
                                <td>
                                    {{ form.f_setu_gr }}
                                    <br>
                                    <br>
                                    {{ form.f_setu_r }}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td>
                        <input class="btn btn-info btn-sm" type="button" id="aki_search" value="空き時間を確認する">
                    </td>
                </tr>
                <tr>
                    <th class="regist_title" valign="top">ファイル</th>
                    <td>
                        <div id="FileAttachArea">
                            <table style="display:none;" width="100%">
                                <tbody id="js-template-uploadedfile">
                                <tr id="progressRow%ID_SUFFIX%">
                                    <td><span id="progressTitle%ID_SUFFIX%" class="break-text">%FILE_NAME%</span><span>&nbsp;</span><span>%FILE_SIZE%</span></td>
                                    <td nowrap><a id="progressCancel%ID_SUFFIX%" href="javascript:void(0);" class="progressCancel">キャンセルする</a><a id="progressDelete%ID_SUFFIX%" style="display:none" href="javascript:void(0);" class="progressDelete">削除する</a></td>
                                    <td><progress id="progress%ID_SUFFIX%" max="99"></progress></td>
                                    <td nowrap><span id="progressDesc%ID_SUFFIX%"></span></td>
                                </tr>
                                </tbody>
                            </table>
                            <table style="display:none;" width="100%">
                                <tbody id="js-template-attachedfile">
                                <tr id="progressRow%ID_SUFFIX%">
                                    <td><span class="break-text">%OPTION_HTML%</span></td>
                                    <td nowrap><a id="progressDelete%ID_SUFFIX%" href="javascript:void(0);" class="progressDelete">削除する</a></td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="vr_fileAttachForm" id="fileAttachForm1" role="presentation">
                                <tr class="unavailableHtml5FileDnD">
                                    <td rowspan="2" nowrap>
                                        <select id="legacyFileSelect1" name="File" size="4" multiple>
                                        <option value="">　　　　　　　　　　　　　　　　　　　　　　　　　</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input class="vr_stdButton" id="addFile1" type="button" value="追加する…">
                                    </td>
                                </tr>
                                <tr class="unavailableHtml5FileDnD">
                                    <td nowrap><input class="vr_stdButton" type="button" value="削除する" onClick="RemoveFile( this.form )"></td>
                                </tr>
                                <tr class="js-availableHtml5FileDnD">
                                    <td>
                                        <div id="dropArea1" dropzone="file" class="fileformDropArea" style="display: none;"><span class="fileformDropAreaDesc">ファイルをここにドラッグアンドドロップします。</span></div>
                                        <div id="fileDnD1">
                                            <div class ="fileform">
                                                <div id="inputArea1">
                                                    <span class="vr_stdButton" style="cursor: pointer;">ファイルを選択する</span>
                                                    <span class="fileformDesc">（ドラッグアンドドロップでも複数のファイルを添付できます。）</span>
                                                    <div class="fileformInput" id="fileInputContainer1">
                                                        <input type="file" id="files1" name="files[]" size="0" multiple>
                                                    </div>
                                                </div>
                                                <table class="fileformProgress" role="presentation">
                                                    <tbody id="progressContainer1"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="card-footer">
                <input class="btn btn-primary btn-sm" type="submit" id="sch_regist", name="sch_regist" value="登録する">
                <a class="btn btn-secondary btn-sm" href="{{ view.get_redirect_param }}" role="button">
                    <span>キャンセルする</span>
                </a>
            </div>
        </div>
        </form>
    </div>
</div>
{% endblock %}
