{% extends "base.html" %}

{% block title %}
<title>Schedule | SPNIntra</title>
{% endblock %}

{% block org_head %}
{% load static %}
{% include "sub_schedule_head.html" %}
<!-- jQuery -->
<script src="{%static 'plugins/jquery/jquery.js '%}"></script>
<!-- Org JavaScript -->
<script src="{%static 'org/js/schedule.js' %}"></script>
{% endblock %}

{% block contents_title %}
{% load static %}
<span class="ml-3 my-0 mr-0 text-dark">
    <a class="btn btn-primary btn-sm" href="{% url 'schedule:schedule_regist' %}{{ view.get_regist_link_i }}" role="button">
        <i class="fas fa-calendar-plus"></i>&nbsp;予定を登録する
    </a>
</span>
{% endblock %}

{% block pan_list %}
<li class="breadcrumb-item"><a href="{% url 'overview:overview_index' %}">Home</a></li>
<li class="breadcrumb-item active">グループ週表示</li>
{% endblock %}

{% block contents_accordion %}
{% endblock %}

{% block content_main %}
{% load static %}
<div id="schedule" class="col-lg-12">
    <ul class="nav nav-tabs font-small">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'schedule:schedule_gday' %}">グループ日</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">グループ週</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'schedule:schedule_pday' %}">個人日</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'schedule:schedule_pweek' %}">個人週</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'schedule:schedule_pmonth' %}">個人月</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'schedule:schedule_pyear' %}">個人年</a>
        </li>
    </ul>
    <div class="card font-middle">
        <div class="card-body">
            <table class="schedule_title">
                <tr>
                    <td class="group">
                        <span class="">グループ&nbsp;&nbsp;</span>
                        <select name="group_select" id="id_group_select">
                            {% for value in view.get_group_list %}
                            <option value="{{value.group_url}}" {% if value.group_cd == view.get_url_gr %}selected{% endif %}>{{value.group_name}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td class="text-day">
                        <span class="font-large">{{view.get_day_i}}</span>
                    </td>
                    <td class="link-button">
                        <a class="btn btn-primary btn-sm" href="{% url 'schedule:schedule_index' %}{{ view.get_tran_i.pre_week_ymd }}" role="button">
                            <span><i class="fas fa-backward"></i>&nbsp;前週</span>
                        </a>
                        <a class="btn btn-primary btn-sm" href="{% url 'schedule:schedule_index' %}{{ view.get_tran_i.pre_day_ymd }}" role="button">
                            <span><i class="fas fa-caret-left"></i>&nbsp;前日</span>
                        </a>
                        <a class="btn btn-primary btn-sm" href="{% url 'schedule:schedule_index' %}{{ view.get_tran_i.today_ymd }}" role="button">
                            <span>今日</span>
                        </a>
                        <a class="btn btn-primary btn-sm" href="{% url 'schedule:schedule_index' %}{{ view.get_tran_i.next_day_ymd }}" role="button">
                            <span>翌日&nbsp;<i class="fas fa-caret-right"></i></span>
                        </a>
                        <a class="btn btn-primary btn-sm" href="{% url 'schedule:schedule_index' %}{{ view.get_tran_i.next_week_ymd }}" role="button">
                            <span>翌週&nbsp;<i class="fas fa-forward"></i></span>
                        </a>
                    </td>
                </tr>
            </table>
            <p></p>
            <table class="table table-bordered">
                {% for membervalue in view.get_member_i %}
                {% if membervalue.head_flg == 1 %}
                <!-- 表タイトル（日付） -->
                <thead>
                <tr>
                    <th class="name cl-weekday"><span class=""></span></th>
                    {% for headvalue in view.get_head_i %}
                    <th class="day {{ headvalue.day_type }}">
                        <span class="">{{ headvalue.day }}（{{ headvalue.day_of_week }}）</span>
                    </th>
                    {% endfor %}
                </tr>
                </thead>
                {% endif %}
                <!-- 予定メイン -->
                <tbody>
                <tr>
                    <!-- アカウント情報 -->
                    <th>
                        <p class="peaple-img">
                            <span class="image">
                                <img src="{% static 'dist/img/' %}{{ membervalue.icon_name }}" class="img-circle elevation-2" alt="User Image">
                            </span>
                            <span>{{ membervalue.disp_name }}</span>
                        </p>
                        <p class="peaple-monthdisp">
                            <a href="{% url 'schedule:schedule_pmonth' %}{{ membervalue.month_link_i }}">
                                <span class="icon"><img src="{%static 'org/img/icon/calender.png'%}"></span>月表示
                            </a>
                        </p>
                    </th>
                    <!-- １週間予定情報 -->
                    {% for daybasevalue in membervalue.oneday_other_i %}
                    <th>
                        {% if daybasevalue.holiday_name != '' %}
                        <p>{{ daybasevalue.holiday_name }}</p>
                        {% endif %}
                        {% for dayschvalue in daybasevalue.oneday_she_disp_i %}
                        <p class="yotei">
                            {% if dayschvalue.timespan != '' %}
                            <span class="">{{ dayschvalue.timespan }}</span><br>
                            {% endif %}
                            <a href="{% url 'schedule:schedule_detail' %}{{ dayschvalue.detail_link_i }}">
                                {% if dayschvalue.tag != '' %}
                                <span class="yoteitag">{{ dayschvalue.tag }}</span>
                                {% endif %}
                                <span class="yoteititle">{{ dayschvalue.title }}</span>
                                {% if dayschvalue.share_plan_icon == '1' %}
                                <span><i class="fas fa-user-friends"></i></span>
                                {% endif %}
                            </a>
                        </p>
                        {% endfor %}
                        <p>
                            <a href="{% url 'schedule:schedule_regist' %}{{ daybasevalue.regist_link_info }}">
                                <span class="icon"><img src="{%static 'org/img/icon/cl_regist.png'%}"></span>
                            </a>
                            <span class="icon"><img src="{%static 'org/img/icon/cl_plus.png'%}"></span>
                        </p>
                    </th>
                    {% endfor %}
                </tr>
                {% if membervalue.sch_span_flg == 1 %}
                <!-- 期間予定 -->
                {% for dayspanvalue in membervalue.span_disp_i %}
                <tr>
                    <th class="tblnoborder"></th>
                    {% if dayspanvalue.no_sch_colspan > 0 %}
                    <th colspan="{{ dayspanvalue.no_sch_colspan }}" class="noborder cl-sch-nospan"></th>
                    {% endif %}
                    <th colspan="{{ dayspanvalue.sch_colspan }}" class="cl-sch-span">
                        <span><i class="fas fa-arrows-alt-h"></i>&nbsp;</span>
                        <a href="{% url 'schedule:schedule_detail' %}{{ dayspanvalue.detail_link_i }}">
                            {% if dayspanvalue.tag != '' %}
                            <span class="yoteitag">{{ dayspanvalue.tag }}</span>
                            {% endif %}
                            <span class="yoteititle">{{ dayspanvalue.title }}</span>
                        </a>
                    </th>
                    {% if dayspanvalue.sch_after_colspan > 0 %}
                    <th colspan="{{ dayspanvalue.sch_after_colspan }}" class="noborder cl-sch-nospan"></th>
                    {% endif %}
                </tr>
                {% endfor %}
                {% endif %}
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
