{% load static %}
<div id="schedule" class="accordion-menu">
    <input type="checkbox" id="Panel1" class="on-off" />
    <div class="card font-middle on-off-target">
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="name cl-weekday"><span class=""></span></th>
                    <th class="day cl-holiday"><span class="">11（水）</span></th>
                    <th class="day cl-weekday"><span class="">12（木）</span></th>
                    <th class="day cl-weekday"><span class="">13（金）</span></th>
                    <th class="day cl-saturday"><span class="">14（土）</span></th>
                    <th class="day cl-holiday"><span class="">15（日）</span></th>
                    <th class="day cl-weekday"><span class="">16（月）</span></th>
                    <th class="day cl-weekday"><span class="">17（火）</span></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>
                        <p class="peaple-img">
                            <span class="image">
                                <img src="{%static 'dist/img/user2-160x160.jpg'%}" class="img-circle elevation-2" alt="User Image">
                            </span>
                            <span>Alexander Pierce</span>
                        </p>
                        <p class="peaple-monthdisp">
                            <span class="icon">
                                <img src="{%static 'org/img/icon/calender.png'%}">
                            </span>
                            <a href="#">月表示</a>
                        </p>
                    </th>
                    <th>
                        <p>
                        振替休日
                        </p>
                        <p>
                            <span class="icon">
                                <img src="{%static 'org/img/icon/cl_regist.png'%}">
                            </span>
                            <span class="icon">
                                <img src="{%static 'org/img/icon/cl_plus.png'%}">
                            </span>
                        </p>
                    </th>
                    <th>
                        <p>
                            <span class="icon">
                                <img src="{%static 'org/img/icon/cl_regist.png'%}">
                            </span>
                            <span class="icon">
                                <img src="{%static 'org/img/icon/cl_plus.png'%}">
                            </span>
                        </p>
                    </th>
                    <th>
                        <p class="yotei">
                            <span class="yoteitag">会議</span>
                            <span class="yoteititle">進捗会議</span>
                        </p>
                        <p class="yotei">
                            <span class="yoteitag">会議</span>
                            <span class="yoteititle">持ち帰り社内打合せ</span>
                        </p>
                        <p>
                            <span class="icon">
                                <img src="{%static 'org/img/icon/cl_regist.png'%}">
                            </span>
                            <span class="icon">
                                <img src="{%static 'org/img/icon/cl_plus.png'%}">
                            </span>
                        </p>
                    </th>
                    <th>
                        <p>
                            <span class="icon">
                                <img src="{%static 'org/img/icon/cl_regist.png'%}">
                            </span>
                            <span class="icon">
                                <img src="{%static 'org/img/icon/cl_plus.png'%}">
                            </span>
                        </p>
                    </th>
                    <th>
                        <p>
                            <span class="icon">
                                <img src="{%static 'org/img/icon/cl_regist.png'%}">
                            </span>
                            <span class="icon">
                                <img src="{%static 'org/img/icon/cl_plus.png'%}">
                            </span>
                        </p>
                    </th>
                    <th>
                        <p>
                            <span class="icon">
                                <img src="{%static 'org/img/icon/cl_regist.png'%}">
                            </span>
                            <span class="icon">
                                <img src="{%static 'org/img/icon/cl_plus.png'%}">
                            </span>
                        </p>
                    </th>
                    <th>
                        <p>
                            <span class="icon">
                                <img src="{%static 'org/img/icon/cl_regist.png'%}">
                            </span>
                            <span class="icon">
                                <img src="{%static 'org/img/icon/cl_plus.png'%}">
                            </span>
                        </p>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<p></p>