body, #wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

.my-div-style {
    margin-top:6rem;
}

.maxWidth {
	max-width: 1360px;
}

.card-body article {
	display: flex;
	margin-bottom: 5px;
	padding: 5px;
}

.card-body p {
	font-size: 0.8em;
	margin: 0;
	padding: 0;
}

.card-body h2 {
	font-size: 1em;
}

.card-body article figure {
	margin-right: 10px;
	width: 70px;
	height: 70px;
}
.card-body article figure img {
	min-width: 70px;
	max-width: 100%;
	vertical-align: top;
}
