{% load static %}
<div id="schedule" class="accordion-menu">
    <input type="checkbox" id="Panel1" class="on-off" />
    <div class="card font-middle on-off-target">
        <div class="card-body">
            <div class="inner-table-wap">
                <table class="inner-table table table-bordered">
                    <tr>
                        <th class="cl-weekday" colspan="4">8</th>
                        <th class="cl-weekday" colspan="4">9</th>
                        <th class="cl-weekday" colspan="4">10</th>
                        <th class="cl-weekday" colspan="4">11</th>
                        <th class="cl-lunch" colspan="4">12</th>
                        <th class="cl-daily" colspan="4">13</th>
                        <th class="cl-daily" colspan="4">14</th>
                        <th class="cl-daily" colspan="4">15</th>
                        <th class="cl-daily" colspan="4">16</th>
                        <th class="cl-daily" colspan="4">17</th>
                        <th class="cl-evening" colspan="4">18</th>
                        <th class="cl-evening" colspan="4">19</th>
                        <th class="cl-evening" colspan="4">20</th>
                        <th class="cl-evening" colspan="4">21</th>
                        <th class="cl-evening" colspan="4">22</th>
                        <th class="cl-evening" colspan="4">23</th>
                        <th class="cl-evening" colspan="4">0</th>
                        <th class="cl-evening" colspan="4">1</th>
                        <th class="cl-evening" colspan="4">2</th>
                        <th class="cl-evening" colspan="4">3</th>
                        <th class="cl-evening" colspan="4">4</th>
                        <th class="cl-evening" colspan="4">5</th>
                        <th class="cl-evening" colspan="4">6</th>
                        <th class="cl-evening" colspan="4">7</th>
                    </tr>
                    <tr>
                        <th class="cl-weekday time-scale"></th><th class="cl-weekday"></th><th class="cl-weekday"></th><th class="cl-weekday"></th>
                        <th class="cl-weekday"></th><th class="cl-weekday"></th><th class="cl-weekday"></th><th class="cl-weekday"></th>
                        <th class="cl-weekday"></th><th class="cl-weekday"></th><th class="cl-weekday"></th><th class="cl-weekday"></th>
                        <th class="cl-weekday"></th><th class="cl-weekday"></th><th class="cl-weekday"></th><th class="cl-weekday"></th>
                        <th class="cl-lunch"></th><th class="cl-lunch"></th><th class="cl-lunch"></th><th class="cl-lunch"></th>
                        <th class="cl-daily"></th><th class="cl-daily"></th><th class="cl-daily"></th><th class="cl-daily"></th>
                        <th class="cl-daily"></th><th class="cl-daily"></th><th class="cl-daily"></th><th class="cl-daily"></th>
                        <th class="cl-daily"></th><th class="cl-daily"></th><th class="cl-daily"></th><th class="cl-daily"></th>
                        <th class="cl-daily"></th><th class="cl-daily"></th><th class="cl-daily"></th><th class="cl-daily"></th>
                        <th class="cl-daily"></th><th class="cl-daily"></th><th class="cl-daily"></th><th class="cl-daily"></th>
                        <th class="cl-evening"></th><th class="cl-evening"></th><th class="cl-evening"></th><th class="cl-evening"></th>
                        <th class="cl-evening"></th><th class="cl-evening"></th><th class="cl-evening"></th><th class="cl-evening"></th>
                        <th class="cl-evening"></th><th class="cl-evening"></th><th class="cl-evening"></th><th class="cl-evening"></th>
                        <th class="cl-evening"></th><th class="cl-evening"></th><th class="cl-evening"></th><th class="cl-evening"></th>
                        <th class="cl-evening"></th><th class="cl-evening"></th><th class="cl-evening"></th><th class="cl-evening"></th>
                        <th class="cl-evening"></th><th class="cl-evening"></th><th class="cl-evening"></th><th class="cl-evening"></th>
                        <th class="cl-evening"></th><th class="cl-evening"></th><th class="cl-evening"></th><th class="cl-evening"></th>
                        <th class="cl-evening"></th><th class="cl-evening"></th><th class="cl-evening"></th><th class="cl-evening"></th>
                        <th class="cl-evening"></th><th class="cl-evening"></th><th class="cl-evening"></th><th class="cl-evening"></th>
                        <th class="cl-evening"></th><th class="cl-evening"></th><th class="cl-evening"></th><th class="cl-evening"></th>
                        <th class="cl-evening"></th><th class="cl-evening"></th><th class="cl-evening"></th><th class="cl-evening"></th>
                        <th class="cl-evening"></th><th class="cl-evening"></th><th class="cl-evening"></th><th class="cl-evening"></th>
                        <th class="cl-evening"></th><th class="cl-evening"></th><th class="cl-evening"></th><th class="cl-evening"></th>
                        <th class="cl-evening"></th><th class="cl-evening"></th><th class="cl-evening"></th><th class="cl-evening"></th>
                        <th class="cl-evening"></th><th class="cl-evening"></th><th class="cl-evening"></th><th class="cl-evening"></th>
                        <th class="cl-evening"></th><th class="cl-evening"></th><th class="cl-evening"></th><th class="cl-evening"></th>
                    </tr>
                    <tr>
                        <th colspan="26">
                            <p class="gday-yotei-minhaight">
                                <span class="icon">
                                    <img src="{%static 'org/img/icon/cl_regist.png'%}">
                                </span>
                                <span class="icon">
                                    <img src="{%static 'org/img/icon/cl_plus.png'%}">
                                </span>
                            </p>
                       </th>
                        <th colspan="35"  style="background-color: #DFEEFC;">
                            <p class="gday-yotei">
                                <span class="yoteitag">会議</span>
                                <span class="yoteititle">持ち帰り社内打合せ</span>
                            </p>
                       </th>
                        <th colspan="35">
                            <p class="gday-yotei-minhaight">
                               <span class="icon">
                                    <img src="{%static 'org/img/icon/cl_regist.png'%}">
                                </span>
                                <span class="icon">
                                    <img src="{%static 'org/img/icon/cl_plus.png'%}">
                                </span>
                            </p>
                       </th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<p></p>