{% extends "base.html" %}

{% block title %}
<title>SysSetting | SPNIntra</title>
{% endblock %}

{% block org_head %}
{% endblock %}

{% block contents_title %}
<h1 class="m-0 text-dark">システム設定</h1>
{% endblock %}

{% block contents_accordion %}
{% endblock %}

{% block pan_list %}
<li class="breadcrumb-item"><a href="#">Home</a></li>
<li class="breadcrumb-item active">システム設定</li>
{% endblock %}

{% block content_main %}
{% load static %}
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h5 class="m-0">基本設定</h5>
        </div>
        <div class="card-body nav">
            <div class="text-center col-6 col-sm-3 col-lg-2"><i class="nav-icon mx-auto py-2 fas fa-id-badge fa-2x"></i><h6 class="text-center small">アカウント</h6></div>
            <div class="text-center col-6 col-sm-3 col-lg-2"><i class="nav-icon mx-auto py-2 fas fa-user-cog fa-2x"></i><h6 class="text-center small">管理者</h6></div>
            <div class="text-center col-6 col-sm-3 col-lg-2"><i class="nav-icon mx-auto py-2 fas fa-tablet-alt fa-2x"></i><h6 class="text-center small">使用するアプリケーション</h6></div>
            <div class="text-center col-6 col-sm-3 col-lg-2"><i class="nav-icon mx-auto py-2 fas fa-user-friends fa-2x"></i><h6 class="text-center small">グループ</h6></div>
            <div class="text-center col-6 col-sm-3 col-lg-2"><i class="nav-icon mx-auto py-2 fas fa-user-tie fa-2x"></i><h6 class="text-center small">組織</h6></div>
            <div class="text-center col-6 col-sm-3 col-lg-2"><i class="nav-icon mx-auto py-2 fas fa-tools fa-2x"></i><h6 class="text-center small">システム</h6></div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h5 class="m-0">運用管理</h5>
            <!-- /.box-header -->
        </div>
        <div class="card-body nav">
            <div class="text-center col-6 col-sm-3 col-lg-2"><i class="nav-icon mx-auto py-2 fas fa-user-plus fa-2x"></i><h6 class="text-center small">システム管理者の登録</h6></div>
            <div class="text-center col-6 col-sm-3 col-lg-2"><i class="nav-icon mx-auto py-2 fas fa-business-time fa-2x"></i><h6 class="text-center small">メンテナンス時間</h6></div>
            <div class="text-center col-6 col-sm-3 col-lg-2"><i class="nav-icon mx-auto py-2 fas fa-cogs fa-2x"></i><h6 class="text-center small">他システムとの連携</h6></div>
            <div class="text-center col-6 col-sm-3 col-lg-2"><i class="nav-icon mx-auto py-2 fas fa-hourglass-half fa-2x"></i><h6 class="text-center small">ロギング</h6></div>
            <div class="text-center col-6 col-sm-3 col-lg-2"><i class="nav-icon mx-auto py-2 fas fa-cubes fa-2x"></i><h6 class="text-center small">システムタスク</h6></div>
            <div class="text-center col-6 col-sm-3 col-lg-2"><i class="nav-icon mx-auto py-2 fas fa-chart-line fa-2x"></i><h6 class="text-center small">利用状況</h6></div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h5 class="m-0">各アプリケーション</h5>
            <!-- /.box-header -->
        </div>
        <div class="card-body nav">
            <div class="text-center col-6 col-sm-3 col-lg-2"><i class="nav-icon mx-auto py-2 fas fa-calendar-alt fa-2x"></i><h6 class="text-center small">スケジュール</h6></div>
            <div class="text-center col-6 col-sm-3 col-lg-2"><i class="nav-icon mx-auto py-2 fas fa-folder-open fa-2x"></i><h6 class="text-center small">ファイル管理</h6></div>
            <div class="text-center col-6 col-sm-3 col-lg-2"><i class="nav-icon mx-auto py-2 fas fa-clock fa-2x"></i><h6 class="text-center small">タイムカード</h6></div>
            <div class="text-center col-6 col-sm-3 col-lg-2"><i class="nav-icon mx-auto py-2 fas fa-file-alt fa-2x"></i><h6 class="text-center small">報告書</h6></div>
            <div class="text-center col-6 col-sm-3 col-lg-2"><i class="nav-icon mx-auto py-2 fas fa-stamp fa-2x"></i><h6 class="text-center small">ワークフロー</h6></div>
            <div class="text-center col-6 col-sm-3 col-lg-2"><i class="nav-icon mx-auto py-2 fas fa-chalkboard-teacher fa-2x"></i><h6 class="text-center small">掲示板</h6></div>
            <div class="text-center col-6 col-sm-3 col-lg-2"><i class="nav-icon mx-auto py-2 fas fa-comments fa-2x"></i><h6 class="text-center small">メッセージ</h6></div>
            <div class="text-center col-6 col-sm-3 col-lg-2"><i class="nav-icon mx-auto py-2 fas fa-envelope fa-2x"></i><h6 class="text-center small">メール</h6></div>
            <div class="text-center col-6 col-sm-3 col-lg-2"><i class="nav-icon mx-auto py-2 fas fa-tasks fa-2x"></i><h6 class="text-center small">タスク管理</h6></div>
            <div class="text-center col-6 col-sm-3 col-lg-2"><i class="nav-icon mx-auto py-2 fas fa-users fa-2x"></i><h6 class="text-center small">プロジェクト</h6></div>
            <div class="text-center col-6 col-sm-3 col-lg-2"><i class="nav-icon mx-auto py-2 fas fa-laptop fa-2x"></i><h6 class="text-center small">備品管理</h6></div>
            <div class="text-center col-6 col-sm-3 col-lg-2"><i class="nav-icon mx-auto py-2 fas fa-address-card fa-2x"></i><h6 class="text-center small">社員情報</h6></div>
            <div class="text-center col-6 col-sm-3 col-lg-2"><i class="nav-icon mx-auto py-2 fas fa-user-check fa-2x"></i><h6 class="text-center small">社員評価</h6></div>
            <div class="text-center col-6 col-sm-3 col-lg-2"><i class="nav-icon mx-auto py-2 fas fa-robot fa-2x"></i><h6 class="text-center small">RPA</h6></div>
        </div>
    </div>
</div>
{% endblock %}
