/****************/
/* 共通　　　　 */
/****************/
.font-small {
	font-size: 0.8rem;
}

.font-middle {
	font-size: 0.9rem;
}

.font-large {
	font-size: 1.0rem;
}

.imgsize20 {
	width: 20px;
}

/****************/
/* 色　　　　　 */
/****************/
.cl-weekday {
    background-color: #EFEFEF;
}

.cl-dark-weekday {
    background-color: #ffffcc;
}

.cl-saturday {
    background-color: #DFEEFC;
}

.cl-dark-saturday {
    background-color: #ccffff;
}

.cl-holiday {
    background-color: #FCE8EF;
}

.cl-dark-holiday {
    background-color: #ffcccc;
}

.cl-daily {
    background-color: #FFEAB2;
}

.cl-evening {
    background-color: #DEE8FF;
}

.cl-lunch {
    background-color: #CFF787;
}

.cl-today {
    background-color: #E3FFB2;
}

.cl-title {
    background-color: #EEEEF5;
}

.cl-sch-span {
	background-color: #D6F6D9;
}

.cl-sch-nospan {
	background-color: #F0FFF0;
}



